<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>

</head>
<body>
<h2>Add New User </h2>
<br>
<form th:method = "POST" th:action = "@{/admin/}" th:object = "${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label>Enter role:
        <select size="2" multiple name="roles" >
            <option value="1">USER</option>
            <option selected="selected" value="2">ADMIN</option>
        </select>
    </label>

<!--    <label>Enter role:-->
<!--        <input type="checkbox" id="roles"> <label for="roles">USER</label>-->
<!--        <input type="checkbox" id="roles"> <label for="roles">ADMIN</label>-->
<!--    </label>-->
    <br/>
    <input type="submit" value="Create New User"/>
</form>


</body>
</html>